@import url(//font.googleapis.com/earlyaccess/jejuhallasan.css);


body {
    background-color: #FDF4E5;
    font-size: 20px;
}

nav {
    background-color: #9A6C2E;
    padding: 10px; /* padding to top and bottom of nav bar */
}

nav ul {
    list-style: none; /*removes default bullet points from nav list items */
    margin: 0; 
    padding: 0; 
    display: flex; /*flex container*/
    justify-content: space-between; /*evenly spaced*/


}

nav li {
    margin: 0 10px; /*spacing between each nav item */

}

nav a {
    color: #FDF4E5;
    text-decoration: none; /*gets rid of underline */
    transition: all 0.3s ease-in-out;


}

nav a:hover{
    color: 5E3512;
}

img {
    width: 100%; 
    height: auto; 
}

figcaption {
    text-align: center; 
}

.intro{
    text-align: center;
    padding: 50px 50px;
    margin-left: 50px;
    margin-right: 50px; 

}

.text{
    font-size: 120px; 
}

.box{
    background-color: #B4B47D;
    padding: 10px; 
    display: flex; 

    
}

.book{
    width: 350px; 
    height: auto; 
    margin-left: 15px;
    padding: 30px; 
}

.connect{ 
    text-align: right; 
    margin-right: 30px; 
    flex: 60%; 
}
